.imagenlogotipo{
    max-width: 150px;
    border-radius: 50%;
}

.titulopoke{
    padding-left: 5px;
    font-size: 20px;
    color: white;
    display: block;
}
h3{
    height: 40px;
}
.divpokemones{
    margin: 20px;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.divPokemon{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(27,70,131);
    background: radial-gradient(circle, rgba(27,70,131,0.5) 0%, rgba(27,70,131,0.6) 50%, rgba(27, 70, 131, 0.744) 100%);
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 9px;
    max-width: 1600px;
    flex-grow: 1;
}

@media (min-width:1031px){
    .divPokemon{
        width: auto;
        margin: 10px auto;
        overflow-x: auto;
        padding-right: 75px;
    } 
    .Divtarjetas{
        display: grid;
        grid-template-columns: 230px 230px 230px 230px 230px 230px;
        margin-left: auto;
        margin-right: auto;
    }
    @keyframes moverDerecha{
        100%{transform: translate(1450px, 0px) }
    }
    .botonMovido{
        display: inline-block;
        transform: translate(1450px,0px);
        margin-top: 60px;
        margin-left: 5px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverIzquierda 4s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .botonEncendido{
        display: inline-block;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverDerecha 4s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .tarjeta10{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 2400ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta20{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 2000ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta30{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1600ms;
        height: 350px;
        width: 200px;
    }  
    .tarjeta40{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1300ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta50{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 900ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta60{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        height: 350px;
        width: 200px;
    }
    .flechaDerecha{
        max-height: 25px;
        max-width: 25px;
        animation: flechaDerecha 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .flechaIzquierda{
        max-height: 25px;
        max-width: 25px;
        animation: flechaIzquierda 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scaleX(-1);
    }
    .botonShiny{
        display: none;
    }
}

@media (max-width:1030px){
    .divPokemon{
        width: auto;
        margin: 10px auto;
        overflow-x: auto;
        padding-right: 80px;
        height: 410px;
    } 
    @keyframes moverDerecha{
        100%{transform: translate(770px, 0px) }
    }
    .botonMovido{
        display: inline-block;
        transform: translate(770px,0px);
        margin-top: 60px;
        margin-left: 5px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverIzquierda 3s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .Divtarjetas{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        margin-left: 40px;
        margin-right: auto;
        height: 100%;
        width: 700px;
        gap: 25px;
    }
    .botonEncendido{
        display: inline-block;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverDerecha 3s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .tarjeta50{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        height: 350px;
        width: 200px;
    }
    .tarjeta30{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1000ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta10{
        margin:   auto 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
        animation-delay: 1300ms;    
        height: 350px;
        width: 200px;
    }
    .flechaDerecha{
        max-height: 25px;
        max-width: 25px;
        animation: flechaDerecha 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .flechaIzquierda{
        max-height: 25px;
        max-width: 25px;
        animation: flechaIzquierda 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scaleX(-1);
    }
    .tarjeta11{width: 200px;}  
    .tarjeta31{width: 200px;}
    .tarjeta51{width: 200px;}
    .tarjeta21{display: none;}  
    .tarjeta41{display: none;}
    .tarjeta61{display: none;}

    .tarjeta10{max-width: 200px;}  
    .tarjeta30{max-width: 200px;}  
    .tarjeta50{max-width: 200px;}  
    .tarjeta20{display: none;}  
    .tarjeta40{display: none;}
    .tarjeta60{display: none;}

    .botonShiny{
        transition: color 500ms;
        animation-fill-mode: forwards;
        color: rgb(0, 0, 0);
        background-color: rgba(255, 0, 0, 0);
        border: none;
        height: 50px;
        width:50px;
        border-radius: 50%;
        display: inline-block;
    }
    .botonShiny:hover{
        color: rgb(250, 185, 0);        
    }
    .botonShiny1:hover{
        color: rgb(0, 0, 0);        
    }
    .botonShiny1{
        animation: brillito 500ms;
        animation-fill-mode: forwards;
    }
    .divBotonshiny{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-bottom: 10px;
        position: relative;
        top: -15px;
    }

    .svgShiny{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .divSpriteShiny{
        background-color:  rgb(255, 241, 211);
        border: 1px solid var(--amarillooscuro);
        border-radius: 4px;
        max-width: 200px;
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    
    @keyframes brillito{
        20%{
            box-shadow: 0px 0px 0px 3px rgba(155, 25, 25, 0.1),
                        0px 0px 0px 5px rgb(250, 185, 0);
        }
        40%{
            box-shadow: 0px 0px 0px 5px rgba(155, 25, 25, 0),
                        0px 0px 0px 7px rgb(250, 185, 0);
        }
        100%{
            color: rgb(250, 185, 0);
            box-shadow: 0px 0px 0px 7px rgba(155, 25, 25, 0),
                        0px 0px 0px 9px rgb(250, 185, 0),
        }
    }
}


@keyframes moverIzquierda{
    100%{
        transform: translate(0px, 0px) 
    }
}
.divimagen{display: flex;flex-direction: column;}
.botonDespliegue{
    display: inline-block;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid rgba(255, 255, 255, 0.201) 2px;
    border-radius: 5px;
    backdrop-filter:blur(10px);
}
.botonDespliegue:hover{background-color: rgba(226, 226, 226, 0);color: white; border: solid white 2px;}
.botonEncendido:hover{background-color: rgba(226, 226, 226, 0);color: white; border: solid white 2px;}  
.botonMovido:hover{background-color: rgba(226, 226, 226, 0);color: white; border: solid white 2px;}

@keyframes flechaDerecha{
    90%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(-1);
    }
}
@keyframes flechaIzquierda{
    90%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}
.texto{margin-top: 13px;margin-bottom: 13px;}
.link{transition: color 200ms;display: inline-block;}
.link:hover{color: var(--rojopokemon);}
.tarjeta0{
    display: none;
}
.tarjeta11{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1300ms;
    height: 350px;
    width: 200px;
}
.tarjeta21{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1700ms;
    height: 350px;
    width: 200px;
}
.tarjeta31{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2000ms;
    height: 350px;
    width: 200px;
}
.tarjeta41{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2400ms;
    height: 350px;
    width: 200px;
}
.tarjeta51{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2700ms;
    height: 350px;
    width: 200px;
} 
.tarjeta61{
    opacity: 0;
    margin:   auto 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 3700ms;
    height: 350px;
    width: 200px;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.divSprite{
    background-color:  rgb(211, 229, 255);
    border: 1px solid var(--azulclaro);
    border-radius: 4px;
    max-width: 200px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@keyframes desaparecer{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.tituloGrande{
    color: var(--azulpokemon);
}

