.imagenlogotipo{
    max-width: 150px;
    border-radius: 50%;
}
.titulopoke{
    padding-left: 5px;
    font-size: 20px;
    color: var(--azulpokemon);
    display: block;
}
h3{
    height: 40px;
}
.divpokemones{
    margin: 20px;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
.divPokemon{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  rgb(211, 229, 255);
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 50px;
    border: solid rgb(155 190 239) 2px;
    border-radius: 9px;
    max-width: 1600px;
    flex-grow: 1;
}

@media (min-width:1030px){
    .divPokemon{
        width: auto;
        margin: 10px auto;
        overflow-x: auto;
        padding-right: 75px;
    } 
    .Divtarjetas{
        display: grid;
        grid-template-columns: 230px 230px 230px 230px 230px 230px;
        margin-left: auto;
        margin-right: auto;
    }
    @keyframes moverDerecha{
        100%{transform: translate(1450px, 0px) }
    }
    .botonMovido{
        display: inline-block;
        transform: translate(1450px,0px);
        margin-top: 60px;
        margin-left: 5px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverIzquierda 4s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .botonEncendido{
        display: inline-block;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverDerecha 4s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .tarjeta10{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 2400ms;
        height: 350px;
        width: 90%;
    }
    .tarjeta20{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 2000ms;
        height: 350px;
        width: 90%;
    }
    .tarjeta30{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1600ms;
        height: 350px;
        width: 90%;
    }  
    .tarjeta40{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1300ms;
        height: 350px;
        width: 90%;
    }
    .tarjeta50{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 900ms;
        height: 350px;
        width: 90%;
    }
    .tarjeta60{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        height: 350px;
        width: 90%;
    }
    .flechaDerecha{
        max-height: 25px;
        max-width: 25px;
        animation: flechaDerecha 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .flechaIzquierda{
        max-height: 25px;
        max-width: 25px;
        animation: flechaIzquierda 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scaleX(-1);
    }
}

@media (max-width:1030px){
    .divPokemon{
        width: auto;
        margin: 10px auto;
        overflow-x: auto;
        padding-right: 60px;
    } 
    @keyframes moverDerecha{
        100%{transform: translate(770px, 0px) }
    }
    .botonMovido{
        display: inline-block;
        transform: translate(770px,0px);
        margin-top: 60px;
        margin-left: 5px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverIzquierda 3s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .Divtarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 40px;
        margin-right: auto;
        height: 100%;
        width: 700px;
    }
    .botonEncendido{
        display: inline-block;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--amarillooscuro);
        padding-top: 30px;
        padding-bottom: 30px;
        animation: moverDerecha 3s;
        animation-iteration-count: 1; 
        animation-timing-function:cubic-bezier(.49,0,.49,.99);
        animation-fill-mode: forwards;
        border: solid rgb(155 190 239) 2px;
        border-radius: 5px;
    }
    .tarjeta50{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        height: 350px;
        width: 200px;
    }
    .tarjeta30{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;    
        animation-delay: 1000ms;
        height: 350px;
        width: 200px;
    }
    .tarjeta10{
        margin: 0px 5px 0px 5px;
        padding: 10px 5px 20px 5px;
        background-color: white;
        border: solid var(--azulclaro) 2px;
        border-radius: 9px;
        color: var(--azulpokemon);
        animation: desaparecer 500ms;
        animation-iteration-count: 1; 
        animation-fill-mode: forwards;
        animation-delay: 1300ms;    
        height: 350px;
        width: 200px;
    }
    .flechaDerecha{
        max-height: 25px;
        max-width: 25px;
        animation: flechaDerecha 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .flechaIzquierda{
        max-height: 25px;
        max-width: 25px;
        animation: flechaIzquierda 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transform: scaleX(-1);
    }
}
@keyframes moverIzquierda{
    100%{
        transform: translate(0px, 0px) 
    }
}
.divimagen{display: flex;flex-direction: column;}
.botonDespliegue{
    display: inline-block;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    color: var(--amarillooscuro);
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid rgb(155 190 239) 2px;
    border-radius: 5px;
}
.botonDespliegue:hover{background-color: rgb(226, 226, 226);color: var(--azulpokemon); border: solid var(--azulpokemon) 2px;}
.botonEncendido:hover{background-color: rgb(226, 226, 226);color: var(--azulpokemon); border: solid var(--azulpokemon) 2px;}  
.botonMovido:hover{background-color: rgb(226, 226, 226);color: var(--azulpokemon); border: solid var(--azulpokemon) 2px;}


@keyframes flechaDerecha{
    90%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(-1);
    }
}
@keyframes flechaIzquierda{
    90%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}
.texto{margin-top: 13px;margin-bottom: 13px;}
.link{transition: color 200ms;display: inline-block;}
.link:hover{color: var(--rojopokemon);}
.tarjeta0{
    display: none;
}
.tarjeta11{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1300ms;
    height: 350px;
    width: 90%;
}
.tarjeta21{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1700ms;
    height: 350px;
    width: 90%;
}
.tarjeta31{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2000ms;
    height: 350px;
    width: 90%;
}
.tarjeta41{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2400ms;
    height: 350px;
    width: 90%;
}
.tarjeta51{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2700ms;
    height: 350px;
    width: 90%;
} 
.tarjeta61{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 800ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 3700ms;
    height: 350px;
    width: 90%;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width:1030px){
    .tarjeta11{width: 200px;}  
    .tarjeta31{width: 200px;}
    .tarjeta51{width: 200px;}
    .tarjeta21{display: none;}  
    .tarjeta41{display: none;}
    .tarjeta61{display: none;}

    .tarjeta10{max-width: 200px;}  
    .tarjeta30{max-width: 200px;}  
    .tarjeta50{max-width: 200px;}  
    .tarjeta20{display: none;}  
    .tarjeta40{display: none;}
    .tarjeta60{display: none;}
}
.divSprite{
    background-color:  rgb(211, 229, 255);
    border: 1px solid var(--azulclaro);
    border-radius: 4px;
    max-width: 200px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@keyframes desaparecer{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

