.tarjeta0{
    margin: 0px 5px 0px 5px;
    padding: 10px 10px 70px 10px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    opacity: 0;
}

.tarjeta11{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: rgb(255, 255, 255);
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1250ms;
    height: 350px;
}
    
.tarjeta21{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1500ms;
    height: 350px;
}

.tarjeta31{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: rgb(255, 255, 255);
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1800ms;
    height: 350px;
}
    
.tarjeta41{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2200ms;
    height: 350px;
}

.tarjeta51{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: rgb(255, 255, 255);
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2500ms;
    height: 350px;
}
    
.tarjeta61{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 3000ms;
    height: 350px;
}

.tarjeta71{
    opacity: 0;
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: aparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 3900ms;
    height: 350px;
}


@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.sprite1{
    background-color:  rgb(211, 229, 255);
    border-left: 1px solid var(--azulclaro);
    border-top: 1px solid var(--azulclaro);
    border-bottom: 1px solid var(--azulclaro);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 100px;
    position: relative;
    top: 0px;
    left: 0px;
    
}

.sprite2{
    background-color:  rgb(211, 229, 255);
    border-right: 1px solid var(--azulclaro);
    border-top: 1px solid var(--azulclaro);
    border-bottom: 1px solid var(--azulclaro);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    max-width: 100px;
    position: relative;
    top: 0px;
    left: 0px;
}

@keyframes desaparecer{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.tarjeta10{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2500ms;
    height: 350px;
}
    
.tarjeta20{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 2000ms;
    height: 350px;
}

.tarjeta30{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: rgb(255, 255, 255);
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1800ms;
    height: 350px;
}
    
.tarjeta40{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1600ms;
    height: 350px;
}

.tarjeta50{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: rgb(255, 255, 255);
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 1300ms;
    height: 350px;
}
    
.tarjeta60{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 900ms;
    height: 350px;
}

.tarjeta70{
    margin: 0px 5px 0px 5px;
    padding: 10px 5px 20px 5px;
    background-color: white;
    border: solid var(--azulclaro) 2px;
    border-radius: 9px;
    color: var(--azulpokemon);
    animation: desaparecer 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;    
    animation-delay: 0ms;
    height: 350px;
}