@media(max-width:550px){
    .imagenpokemon{
        display: none;
    }
}

.imagenlogo{
    max-width: 60px;
    padding-left: 10px;
}
.navegacion2{
    display: flex;
    background-color: var(--azulpokemon);
    max-width: 100%;
    flex-grow: 1;
    align-items: center;
    padding: 5px 0px;    max-width: 1700px;
    margin: 0px auto;
}
.navegacion{
    display: flex;
    background-color: var(--azulpokemon);
    max-width: 100%;
    flex-grow: 1;
    align-items: center;
    padding: 5px 0px;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    margin-right: 20px;
}

.lista li{
    margin: auto 10px;
    text-align: center;
}

.Link{
    font-size: 15px;
    color: aliceblue ;
    margin: auto;
    transition: box-sadow 300ms;
    border-radius: 10px;
    width: 100%;
    font-size: 17px;
    transition: color 500ms;
    text-align: center;
}

.Link:hover{
    color: var(--amarillopokemon);
}

.imagenpokemon{
    max-width: 200px;
    margin: auto auto auto 15px;
}
